body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif !important;
}
body::-webkit-scrollbar {
  display: none;
}

.contain {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.diamond {
  height: 9px;
  width: 9px;
  background: #ffa100;
  transform: rotate(45deg) skew(2deg, 2deg);
  margin-bottom: 1px;
}

/*==============================================
# Hamburger Menu
===============================================*/

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 16px;
  right: 20px;
  top: 24px;
}

@media screen and (min-width: 768px) {
  .bm-burger-button {
    position: fixed;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #f6f6f6;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #ffa100;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #ffa100;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: #333333;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #ffa100;
  background-color: #333333;
  padding: 16px 0 0 0;
}

.bm-item-list a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #ffa100;
  display: block;
  margin-bottom: 20px;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
